/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}


header, footer {
    background-color: #333;
    color: #fff;
}

header h1{
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.question {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question.hidden {
    display: none;
}

label {
    display: block;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.next-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.next-btn:hover {
    background-color: #555;
}

#resultContainer {
    margin-top: 20px;
}
