body {
    /* background-color: #182527; */
    color: #ffffff;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    /* font-style: normal; */
    /* text-align: center; */
}

header.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    position: fixed; 
    width: 100%; 
    height: 5vh;

}

.navbar h1 {
    font-size: 24px;
}

.left-nav {
    float: left; 

}

nav.right-nav {
    float: right; 
    margin-right: 15px;
}

nav.right-nav a {
    margin: 0 15px; 
    text-decoration: none;
    color: white; 
    font-weight: bold;
}


.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; 
    width: 100%;
    background-color: #182527;
}

.prj-name{
    border-left: 3px solid #20CD8D;
    border-radius: 2px;
    padding-left: 20px;
    font-size: 30px;
    position: relative;
    top: -90px;
    left: -10px;
}

.main-heading {
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px; 
    color: #20CD8D;
}

.subheading {
    font-size: 18px;
    margin-top: 10px;
}

.btn-learn-more {
    background-color: #20CD8D;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.arrow-icon {
    font-size: 24px;
    margin-top: 10px;
}


.quick-link {
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: #20cd8d;
}

.ql-heading {
    font-size: 30px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    position: relative;
    top: 10vh;
}

.quick-links {
    position: relative;
    top: 20vh;
    display: grid;
    font-weight: bold;
    gap: 10px;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.links {
    margin: 5px;
    padding: 10px;
    background-color: #ffffff;
    width: 300px;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    display: inline-block;
    font-size: 16px;
}


.links:hover{
    width: 305px;
    height: 25px;
}

/* Additional CSS to adjust link positions */
.links:nth-child(1),
.links:nth-child(4) {
    grid-column: span 3; /* Span full width for the first and fourth links */
}

.links:nth-child(2),
.links:nth-child(3),
.links:nth-child(5),
.links:nth-child(6) {
    grid-column: span 1; /* Span one column for the second, third, fifth, and sixth links */
}

/* Additional CSS to center the middle link in the second row */
.links:nth-child(3) {
    justify-self: center;
}