* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #ffffff;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-style: normal; 
    text-align: center;
}

header.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    position: fixed; 
    width: 100%; 
}

.navbar h1 {
    font-size: 2vw; 
}

.left-nav {
    float: left; 
}

nav.right-nav {
    float: right; 
    /* margin-right: 1.5vw; */
}

nav.right-nav a {
    margin: 0 1.5vw; 
    text-decoration: none;
    color: white; 
    font-weight: bold;
    font-size: 2vw; 
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #182527;
}

.prj-name {
    border-left: 3px solid #20CD8D;
    border-radius: 2px;
    padding-left: 2vw; 
    font-size: 2.5vw; 
    position: relative;
    top: -1vw;
    left: -0.5vw;
}

.main-heading {
    font-size: 5vw;
    font-weight: bold;
    margin-top: 2vw; 
    color: #20CD8D;
}

.subheading {
    font-size: 1.5vw; 
    margin-top: 1vw;
}

.btn-learn-more {
    background-color: #20CD8D;
    color: #ffffff;
    border: none;
    width: 20%;
    border-radius: 2.5vw; 
    padding: 1vw 2vw; 
    font-size: 2vw; 
    cursor: pointer;
    margin-top: 2vw;
}

.arrow-icon {
    font-size: 2vw; 
    margin-top: 1vw;
}

.arrow-icon:hover{
    font-size: 30px;
}

.quick-link {
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: #20cd8d;
}

.ql-heading {
    font-size: 2.5vw;
    font-weight: bold;
    display: block;
    margin-bottom: 1vw;
    position: relative;
    top: 10vh;
}

.quick-links {
    position: relative;
    top: 20vh;
    display: grid;
    font-weight: bold;
    gap: 1vw; 
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.links {
    margin: 0.5vw;
    background-color: #ffffff;
    width: 30vw;
    color: black;
    text-decoration: none;
    border-radius: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6vw;
    height: 3vw;
}

.links:hover {
    width: 31vw;
    height: 4vw;
}



/* Additional CSS to adjust link positions */
.links:nth-child(1),
.links:nth-child(4) {
    grid-column: span 3; 
}

.links:nth-child(2),
.links:nth-child(3),
.links:nth-child(5),
.links:nth-child(6) {
    grid-column: span 1;
}

.links:nth-child(3) {
    justify-self: center;
}


/* contact */

.contact {
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align content horizontally at the center */
}

.contact-heading {
    font-weight: bold;
    font-size: 36px;
    color: #182527;
    margin-top: 10vh;
}

.contact-options {
    margin-top: 5vh; /* Adjust the top margin as needed */
    position: relative;
    width: 90%;
    top: 60vh;
    display: flex;
    align-items: center; /* Align content horizontally at the center */
    gap: 3vh; /* Adjust the vertical gap between items */
}

.items {
    background-color: #182527;
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%; /* Make each item take up the full width of the container */
    text-align: center; /* Center the text within each item */
    font-weight: bold;
}
